In [5]:
# 1. Print numbers from 1 to 10 using a for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
# 2. Print even numbers from 2 to 20.

for i in range(2,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [7]:
# 3. Print the squares of numbers from 1 to 5.

In [8]:
# 4. Print each character of a given string.

In [9]:
# 5. Print the sum of numbers from 1 to 100.

In [10]:
# 6. Print the multiplication table of 5.

In [11]:
# 7. Iterate through a list of fruits and print each one.

In [12]:
# 8. Print the first 10 natural numbers in reverse order.

In [13]:
# 9. Print all elements of a list with their indices.

In [14]:
# 10. Print all odd numbers between 1 and 20.

In [15]:
# 11. Print all prime numbers between 1 and 50.

In [16]:
# 12. Count how many vowels are in a given string.

In [17]:
# 13. Given a list of numbers, print only those greater than 10.

In [18]:
# 14. Calculate the factorial of a number using a for loop.

In [19]:
# 15. Print the Fibonacci sequence up to n terms using a for loop.

In [20]:
# 16. Print the sum of even numbers between 1 and 50.

In [21]:
# 17. Given a list of strings, print those with length > 5.

In [22]:
# 18. Reverse a string using a for loop.

In [23]:
# 19. Print the ASCII values of characters from 'A' to 'Z'.

In [24]:
# 20. Count how many times a specific number appears in a list.

In [25]:
# 21. Print a pyramid pattern of stars with 5 rows.

In [26]:
# 22. Print an inverted pyramid pattern of stars with 5 rows.

In [27]:
# 23. Print a right-aligned triangle pattern of stars with 5 rows.

In [28]:
# 24. Print the multiplication tables from 1 to 10.

In [29]:
# 25. Print all perfect numbers between 1 and 500.

In [30]:
26. Print all Armstrong numbers between 100 and 999.

SyntaxError: invalid syntax (1846742624.py, line 1)

In [31]:
# 27. Print a diamond pattern of stars with 5 rows on each side.

In [32]:
# 28. Given a list of numbers, separate them into even and odd lists.

In [33]:
# 29. Generate all 2-letter combinations from 'abc'.

In [34]:
# 30. Given a list of numbers, find the second largest using a for loop.

# ⬇️Some extra questions must do

In [35]:
# Example 1: Print the first 10 natural numbers using for loop.

In [36]:
# Example 2: Python program to print all the even numbers within the given range.

In [37]:
# Example 3: Python program to calculate the sum of all numbers from 1 to a given number.

In [38]:
# Example 4: Python program to calculate the sum of all the odd numbers within the given range.

In [39]:
Example 5: Python program to print a multiplication table of a given number

SyntaxError: invalid syntax (2208684879.py, line 1)

In [40]:
Example 5: Python program to print a multiplication table of a given number

SyntaxError: invalid syntax (2208684879.py, line 1)

In [41]:
Example 6: Python program to display numbers from a list using a for loop.

SyntaxError: invalid syntax (1945338379.py, line 1)

In [42]:
Example 7: Python program to count the total number of digits in a number.

SyntaxError: invalid syntax (3343181473.py, line 1)

In [43]:
Example 8: write a python program to check given string is palindrome or not. (madam=madam)

SyntaxError: invalid syntax (1298177170.py, line 1)

In [44]:
Example 9: Python program that accepts a word from the user and reverses it.

SyntaxError: invalid syntax (1227680046.py, line 1)

In [45]:
Example 10: Python program to check if a given number is an Armstrong number.
(153=1**3+5**3+3**3)

SyntaxError: invalid syntax (949439756.py, line 1)

In [46]:
Example 11: Python program to count the number of even and odd numbers from a
series of numbers.

SyntaxError: invalid syntax (919357814.py, line 1)

In [47]:
Example 12: Python program to display all numbers within a range except the prime
numbers.

SyntaxError: invalid syntax (2857321320.py, line 1)

In [48]:
Example 13: Python program to get the Fibonacci series.
(0,1,1,2,3,5,8,13,21……………..)

SyntaxError: invalid character '…' (U+2026) (4234712485.py, line 2)

In [49]:
Example 14: Python program to find the factorial of a given number.

SyntaxError: invalid syntax (2261564787.py, line 1)

In [50]:
Example 15: Python program that accepts a string and calculates the number of
digits and letters.

SyntaxError: invalid syntax (1468798636.py, line 1)

In [51]:
Example 16: Write a Python program that iterates the integers from 1 to 25.

SyntaxError: invalid syntax (1180616460.py, line 1)

In [52]:
Example 17: Python program to check the validity of password input by users.

SyntaxError: invalid syntax (3524355416.py, line 1)

In [53]:
Example 18: Python program to convert the month name to a number of days.

SyntaxError: invalid syntax (570195710.py, line 1)