In [ ]:
1. Print numbers from 1 to 10 using a for loop.

In [ ]:
2. Print even numbers from 2 to 20.

In [ ]:
3. Print the squares of numbers from 1 to 5.

In [ ]:
4. Print each character of a given string.

In [ ]:
5. Print the sum of numbers from 1 to 100.

In [ ]:
6. Print the multiplication table of 5.

In [ ]:
7. Iterate through a list of fruits and print each one.

In [ ]:
8. Print the first 10 natural numbers in reverse order.

In [ ]:
9. Print all elements of a list with their indices.

In [ ]:
10. Print all odd numbers between 1 and 20.

In [ ]:
11. Print all prime numbers between 1 and 50.

In [ ]:
12. Count how many vowels are in a given string.

In [ ]:
13. Given a list of numbers, print only those greater than 10.

In [ ]:
14. Calculate the factorial of a number using a for loop.

In [ ]:
15. Print the Fibonacci sequence up to n terms using a for loop.

In [ ]:
16. Print the sum of even numbers between 1 and 50.

In [ ]:
17. Given a list of strings, print those with length > 5.

In [ ]:
18. Reverse a string using a for loop.

In [ ]:
19. Print the ASCII values of characters from 'A' to 'Z'.

In [ ]:
20. Count how many times a specific number appears in a list.

In [ ]:
21. Print a pyramid pattern of stars with 5 rows.

In [ ]:
22. Print an inverted pyramid pattern of stars with 5 rows.

In [ ]:
23. Print a right-aligned triangle pattern of stars with 5 rows.

In [ ]:
24. Print the multiplication tables from 1 to 10.

In [ ]:
25. Print all perfect numbers between 1 and 500.

In [ ]:
26. Print all Armstrong numbers between 100 and 999.

In [ ]:
27. Print a diamond pattern of stars with 5 rows on each side.

In [ ]:
28. Given a list of numbers, separate them into even and odd lists.

In [ ]:
29. Generate all 2-letter combinations from 'abc'.

In [ ]:
30. Given a list of numbers, find the second largest using a for loop.

# ⬇️Some extra questions must do

In [ ]:
Example 1: Print the first 10 natural numbers using for loop.

In [ ]:
Example 2: Python program to print all the even numbers within the given range.

In [ ]:
Example 3: Python program to calculate the sum of all numbers from 1 to a given
number.

In [ ]:
Example 4: Python program to calculate the sum of all the odd numbers within the
given range.

In [ ]:
Example 5: Python program to print a multiplication table of a given number

In [ ]:
Example 5: Python program to print a multiplication table of a given number

In [ ]:
Example 6: Python program to display numbers from a list using a for loop.

In [ ]:
Example 7: Python program to count the total number of digits in a number.

In [ ]:
Example 8: WAP to check given string is palindrome or not. (madam=madam)

In [ ]:
Example 9: Python program that accepts a word from the user and reverses it.

In [ ]:
Example 10: Python program to check if a given number is an Armstrong number.
(153=1**3+5**3+3**3)

In [ ]:
Example 11: Python program to count the number of even and odd numbers from a
series of numbers.

In [ ]:
Example 12: Python program to display all numbers within a range except the prime
numbers.

In [ ]:
Example 13: Python program to get the Fibonacci series.
(0,1,1,2,3,5,8,13,21……………..)

In [ ]:
Example 14: Python program to find the factorial of a given number.

In [ ]:
Example 15: Python program that accepts a string and calculates the number of
digits and letters.

In [ ]:
Example 16: Write a Python program that iterates the integers from 1 to 25.

In [ ]:
Example 17: Python program to check the validity of password input by users.

In [ ]:
Example 18: Python program to convert the month name to a number of days.