In [ ]:
1. Print a 3x3 grid of stars.

In [ ]:
2 2. Print a multiplication table from 1 to 3.

In [ ]:
3 3. Print numbers from 1 to 3 in three rows.

In [ ]:
4 4. Print the coordinates (i, j) where i and j go from 1 to 3.

In [ ]:
5 5. Print a square pattern of numbers from 1 to 5.

In [ ]:
6 6. Print each element of a 2D list.

In [ ]:
7 7. Print a right triangle pattern of stars with 4 rows.

In [ ]:
8 8. Print all pairs of even numbers from 2 to 6.

In [ ]:
9 9. Print a 5x5 grid where each row contains the same number.

In [ ]:
10 10. Print a 5x5 grid where each column contains the same number.

In [ ]:
1. Print a pyramid of stars with 5 rows using nested loops.

In [ ]:
2 2. Print an inverted pyramid of stars with 5 rows using nested loops.

In [ ]:
3 3. Print a multiplication table from 1 to 5 in a tabular form.

In [ ]:
4 4. Print the sum of each row in a 2D list.

In [ ]:
5 5. Print the transpose of a 3x3 matrix.

In [ ]:
6 6. Print all pairs of numbers (i, j) where i != j from 1 to 4.

In [ ]:
7 7. Print all prime pairs (p, q) where p and q are prime numbers between 1 and 10.

In [ ]:
8 8. Print a pattern where the ith row contains numbers from 1 to i.

In [ ]:
9 9. Print a pattern where the ith row contains i repeated i times.

In [ ]:
10 10. Print the border of a 5x5 square of stars.

In [ ]:
1. Print a diamond pattern of stars with 5 rows on each side using nested loops.

In [ ]:
2 2. Print a chessboard pattern of size 8x8 with 'B' and 'W'.

In [ ]:
3 3. Print Pascal's triangle for 5 rows.

In [ ]:
4 4. Print all unique pairs (i, j) where 1 <= i < j <= 5.

In [ ]:
5 5. Given a 2D list, print its elements in spiral order.

In [ ]:
6 6. Print all Pythagorean triplets with values under 20.

In [ ]:
7 7. Print a hollow pyramid pattern of stars with 5 rows.

In [ ]:
8 8. Print all combinations of three letters from 'abcde'.

In [ ]:
9 9. Print a multiplication table from 1 to 10 aligned properly.

In [ ]:
10 10. Print a hollow diamond pattern of stars with 5 rows on each side.