In [2]:
# 1. Add two numbers using the + operator.

60

In [3]:
# 2. Subtract two numbers using the - operator.

11

In [5]:
# 3. Multiply two numbers using the * operator.

153

In [6]:
# 4. Divide two numbers using the / operator.

2.857142857142857

In [7]:
# 5. Perform floor division on two numbers.

3

In [10]:
# 6. Find the remainder using the % operator.

0

In [12]:
# 7. Calculate the exponent using the ** operator.

16

In [13]:
# 8. Compare two numbers using the > operator.

False

In [14]:
# 9. Compare two numbers using the < operator.

True

In [15]:
# 10. Check equality between two numbers

False

In [18]:
# 11. Check if a number is greater than 10 and less than 50 using logical operators.

True

In [19]:
# 12. Check if a number is divisible by 3 or 5 using logical operators.

True

In [24]:
# 13. Swap two numbers without using a temporary variable using arithmetic operators.

SyntaxError: invalid decimal literal (4077914140.py, line 4)

In [28]:
# 14. Increment a variable by 5 using the += operator.

50

In [30]:
# 15. Multiply a variable by 3 using the *= operator.

18

In [31]:
# 16. Check if a number is not equal to another number.

True

In [32]:
# 17. Check if two variables refer to the same object using identity operators.

False

In [33]:
# 18. Check if a value exists in a list using membership operators.

True

In [34]:
# 19. Check if a string does not contain a particular character using membership operators.

True

In [35]:
# 20. Perform bitwise AND operation between two integers.

False

In [37]:
# 21. Perform bitwise OR operation between two integers.

True

In [47]:
 22. Perform bitwise XOR operation between two integers.

SyntaxError: invalid syntax (1586760647.py, line 1)

In [46]:
23. Perform bitwise left shift on a number.

SyntaxError: invalid syntax (3383644456.py, line 1)

In [44]:
24. Perform bitwise right shift on a number.

SyntaxError: invalid syntax (441756769.py, line 1)

In [48]:
# 25. Use combined comparison and logical operators to check multiple conditions.

False

In [49]:
# 26. Write an expression to check if a number is even and positive.

True

In [50]:
# 27. Write an expression to check if a number is odd or negative.

False

In [ ]:
# 28. Create a program that checks if a number is in a given range using operators.

In [54]:
# 29. Combine arithmetic, comparison, and logical operators in a single statement.

SyntaxError: invalid syntax (264905045.py, line 5)

In [55]:
30. Simulate ternary operator using if–else in one line

SyntaxError: invalid character '–' (U+2013) (2312322960.py, line 1)