In [8]:
# 1. Print numbers from 1 to 10 using a while loop.

i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [14]:
# 2. Print even numbers from 2 to 20 using a while loop.

# i = 2
# while i <= 20:
#     if i % 2 == 0:
#         print(i)
#     i += 1   

# or

i = 2
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [3]:
# 3. Print the squares of numbers from 1 to 5 using a while loop.

i = 1
while i <= 5:
    print("sq of",i,"is",i**2)
    i += 1

sq of 1 is 1
sq of 2 is 4
sq of 3 is 9
sq of 4 is 16
sq of 5 is 25

In [13]:
# 4. Print each character of a given string using a while loop.

n = "tushar"
i = 0
while i < len(n):
    print(n[i])
    i += 1

t
u
s
h
a
r

In [6]:
# 5. Print the sum of numbers from 1 to 100 using a while loop.

5050

In [7]:
# 6. Print the multiplication table of 7 using a while loop.

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [8]:
# 7. Print the first 10 natural numbers in reverse order using a while loop.

10
9
8
7
6
5
4
3
2
1

In [9]:
# 8. Print all odd numbers between 1 and 20 using a while loop.

1
3
5
7
9
11
13
15
17
19

In [10]:
# 9. Count down from 10 to 1 using a while loop.

10
9
8
7
6
5
4
3
2
1

In [11]:
# 10. Print numbers from 1 to n, where n is taken from the user, using a while loop

enter the number 7

1 2 3 4 5 6 7

In [12]:
# 11. Calculate the factorial of a number using a while loop.

enter the number 8

40320

In [18]:
# 12. Print the Fibonacci sequence up to n terms using a while loop.

enter the number- 9

1 1 2 3 5 8 13 21 34 55

In [6]:
# 13. Reverse a string using a while loop.

enter the string amita

atima

In [10]:
# 14. Count the number of digits in a given number using a while loop.

enter the number 3754

2

In [ ]:
15. Sum the digits of a given number using a while loop.

In [ ]:
16. Find the largest number in a list using a while loop.

In [ ]:
17. Find the smallest number in a list using a while loop.

In [ ]:
18. Check if a number is prime using a while loop.

In [ ]:
19. Print all multiples of 5 up to 100 using a while loop.

In [ ]:
20. Count how many vowels are in a given string using a while loop.

In [ ]:
21. Print a pyramid pattern of stars with 5 rows using a while loop.

In [ ]:
22. Print an inverted pyramid pattern of stars with 5 rows using a while loop.

In [ ]:
23. Generate all prime numbers between 1 and 100 using a while loop.

In [ ]:
# armstrong number

n = int(input("enter the digit to check armstrong number"))
org = n
sum = 0
digit = 0
power = (len(str(n)))
while (n!= 0):
    digit = n % 10
    sum = sum + digit**power
    n = n//10
if sum == org:
    print("it is armstrong number")
else:
    print("not a armstrong number")

In [ ]:
24. Find all Armstrong numbers between 100 and 999 using a while loop.

In [ ]:
25. Find all perfect numbers between 1 and 500 using a while loop.

In [ ]:
26. Print a diamond pattern of stars with 5 rows on each side using a while loop.

In [ ]:
27. Print the multiplication tables from 1 to 5 using a while loop.

In [ ]:
28. Generate all two-digit numbers where the sum of digits is 10 using a while loop.

In [ ]:
29. Reverse a number using a while loop.

In [ ]:
30. Check if a string is a palindrome using a while loop.

# ⬇️Extra questions must do

In [ ]:
Example 1: Write a program to print n natural numbers.

In [ ]:
Example 2: Write a program to print sum of n natural numbers.

In [ ]:
Example 3: Write a program to print multi of n natural numbers.

In [ ]:
Example 4: Write a program to print factorial of any natural number.

In [ ]:
Example 5: Write a program to print n even numbers.

In [ ]:
Example 6: Write a program to print sum of n even numbers.

In [ ]:
Example 7: Write a program to print even numbers up-to n natural numbers.

In [ ]:
Example 8: Write a program to print sum of even numbers up-to n natural numbers.

In [ ]:
Example 9: Write a program to print n odd numbers.

In [ ]:
Example 10: Write a program to print sum of n odd numbers.

In [ ]:
Example 11: Write a program to print odd numbers up-to n natural numbers.

In [ ]:
Example 12: Write a program to print sum of odd numbers up-to n natural numbers.

In [ ]:
Example 13: Write a program to find factorial of given no.

In [ ]:
Example 14: Write a program to print your names ten times.

In [ ]:
Example 15: Write a program to find how many vowels and consonants are present
in strings.

In [ ]:
Example 16: Write a program to add 5 in each elements in given list.
[10,20,30,40,50]

In [ ]:
Example 17: Write a program to add 5 in each elements in given tuple.
(10,20,30,40,50)

In [ ]:
Example 18: Write a program to create a list from given string.