In [3]:
# 1. Print numbers from 1 to 10 using a for loop.

for i in range(1,11):
    print(i , end = " ")

1 2 3 4 5 6 7 8 9 10

In [5]:
# 2. Print even numbers from 2 to 20.

for i in range(2,21,2):
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20

In [2]:
# 3. Print the squares of numbers from 1 to 5.

for i in range(1,6):
    print(i**2)

1
4
9
16
25

In [5]:
# 4. Print each character of a given string.

st = "heloo guys"
for i in st:
    print(i)

h
e
l
o
o

g
u
y
s

In [2]:
# 5. Print the sum of numbers from 1 to 100.

sum = 0
for i in range(1,101):
    sum = sum+i
print(sum)

5050

In [5]:
# 6. Print the multiplication table of 5.

n = 5
for i in range(1,11):
    print(n,"*",i,"=",i*n)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
# 7. Iterate through a list of fruits and print each one.

apple
banana
guava
peach

In [16]:
# 8. Print the first 10 natural numbers in reverse order.

10
9
8
7
6
5
4
3
2
1

In [21]:
# 9. Print all elements of a list with their indices.

Index 0 = apple
Index 1 = banana
Index 2 = guava
Index 3 = peach

In [24]:
# 10. Print all odd numbers between 1 and 20.

1
3
5
7
9
11
13
15
17
19

In [9]:
# 11. Print all prime numbers between 1 and 50.

IndentationError: unindent does not match any outer indentation level (<string>, line 7)

In [8]:
# 12. Count how many vowels are in a given string.

enter the string tushar

2

In [9]:
# 13. Given a list of numbers, print only those greater than 10.

87

In [10]:
# 14. Calculate the factorial of a number using a for loop.

enter the number 5

120

In [18]:
# 15. Print the Fibonacci sequence up to n terms using a for loop.

enter the series nth number 9

0
1
1
2
3
5
8
13
21
34

In [19]:
# 16. Print the sum of even numbers between 1 and 50.

650

In [20]:
# 17. Given a list of strings, print those with length > 5.

everyone
what's app

In [28]:
# 18. Reverse a string using a for loop.

rahsut

In [39]:
# 19. Print the ASCII values of characters from 'A' to 'Z'.

Ascii value of A is 65
Ascii value of B is 66
Ascii value of C is 67
Ascii value of D is 68
Ascii value of E is 69
Ascii value of F is 70
Ascii value of G is 71
Ascii value of H is 72
Ascii value of I is 73
Ascii value of J is 74
Ascii value of K is 75
Ascii value of L is 76
Ascii value of M is 77
Ascii value of N is 78
Ascii value of O is 79
Ascii value of P is 80
Ascii value of Q is 81
Ascii value of R is 82
Ascii value of S is 83
Ascii value of T is 84
Ascii value of U is 85
Ascii value of V is 86
Ascii value of W is 87
Ascii value of X is 88
Ascii value of Y is 89
Ascii value of Z is 90

In [43]:
# 20. Count how many times a specific number appears in a list.

count of 1 is : 2
count of 2 is : 5
count of 3 is : 2
count of 4 is : 1
count of 13 is : 1

In [5]:
# 21. Print a pyramid pattern of stars with 5 rows.

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [10]:
# 22. Print an inverted pyramid pattern of stars with 5 rows.

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [11]:
# 23. Print a right-aligned triangle pattern of stars with 5 rows.

*
* *
* * *
* * * *
* * * * *

In [9]:
# 24. Print the multiplication tables from 1 to 10.

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [28]:
# 25. Print all perfect numbers between 1 and 500.

In [ ]:
26. Print all Armstrong numbers between 100 and 999.

In [27]:
# 27. Print a diamond pattern of stars with 5 rows on each side.

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [51]:
# 28. Given a list of numbers, separate them into even and odd lists.

even number are: [2, 8, 76, 34, 78]
odd number are: [1, 3, 5, 3, 7, 9, 5, 79]

In [4]:
# 29. Generate all 2-letter combinations from 'abc'.

ab
ac
ba
bc
ca
cb

1234
1243
1324
1342
1423
1432
2134
2143
2314
2341
2413
2431
3124
3142
3214
3241
3412
3421
4123
4132
4213
4231
4312
4321
number of combination can be produce is : 24

In [52]:
# 30. Given a list of numbers, find the second largest using a for loop.

78

# ⬇️Some extra questions must do

In [10]:
# Example 1: Print the first 10 natural numbers using for loop.

1
2
3
4
5
6
7
8
9
10

In [11]:
# Example 2: Python program to print all the even numbers within the given range.

Enter the the even number range u want 20

2
4
6
8
10
12
14
16
18
20

In [12]:
# Example 3: Python program to calculate the sum of all numbers from 1 to a given number.

entre the number upto u want the sum from 1 30

465

In [19]:
# Example 4: Python program to calculate the sum of all the odd numbers within the given range.

enter the range 45

529

In [ ]:
Example 5: Python program to print a multiplication table of a given number

In [ ]:
Example 5: Python program to print a multiplication table of a given number

In [ ]:
Example 6: Python program to display numbers from a list using a for loop.

In [ ]:
Example 7: Python program to count the total number of digits in a number.

In [ ]:
Example 8: write a python program to check given string is palindrome or not. (madam=madam)

In [ ]:
Example 9: Python program that accepts a word from the user and reverses it.

In [ ]:
Example 10: Python program to check if a given number is an Armstrong number.
(153=1**3+5**3+3**3)

In [ ]:
Example 11: Python program to count the number of even and odd numbers from a
series of numbers.

In [ ]:
Example 12: Python program to display all numbers within a range except the prime
numbers.

In [ ]:
Example 13: Python program to get the Fibonacci series.
(0,1,1,2,3,5,8,13,21……………..)

In [ ]:
Example 14: Python program to find the factorial of a given number.

In [ ]:
Example 15: Python program that accepts a string and calculates the number of
digits and letters.

In [ ]:
Example 16: Write a Python program that iterates the integers from 1 to 25.

In [ ]:
Example 17: Python program to check the validity of password input by users.

In [ ]:
Example 18: Python program to convert the month name to a number of days.