In [3]:
# 1. Write a program that checks if a number is positive, and if positive, checks if it is even.

enter the number 7

number is positive
number is not even

In [6]:
# 2. Take a user’s age and check if they are an adult (18+), and if yes, check if they are eligible to vote (18+).

enter your age 12

you are not adult

In [9]:
# 3. Ask the user for a temperature. If it’s above 0, check if it’s above 30.

enter the temperature 22

below 30 so plesent

In [12]:
# 4. Check if a number is divisible by 2, and if yes, check if it’s also divisible by 4.

enter the number 59

number not divisible by 2

In [15]:
# 5. Ask for a score. If score >= 50, check if it’s also >= 90.

enter the score 97

number is both greater than 50 and 90

In [18]:
# 6. Check if a number is positive, and inside that check, see if it’s a single-digit number.

enter the number -1

not a positive number

In [23]:
# 7. If a string starts with 'A', check if it ends with 'Z'.

enter the string tushar

The string is not start with A

In [29]:
# 8. Ask for the current year. If it’s a leap year, check if it’s divisible by 400.

enter the year 2009

not a leap year

In [32]:
# 9. Check if a number is greater than 100, and if yes, check if it’s less than 200.

enter the number 22

the number is not greater than 100

In [37]:
# 10. If a number is negative, check if it’s less than -100

enter the number 34

the number is not negative

In [52]:
# 11. Ask for marks in two subjects. If both are >= 40, check if the average is >= 50.

enter the marks 40
enter the marks 40

average is : 60.0
both subject marks are above 40 and avg is greater than 50

In [60]:
# 12. Take a character. If it’s a vowel, check if it’s uppercase.

enter a character a

the char is not vowel

In [67]:
# 13. Ask for an integer. If divisible by 5, check if the last digit is 0.

enter the number 450

the number is divisible by 5 and the last digit is 0

In [71]:
# 14. Ask for a username. If it matches 'admin', check if password matches '1234'.

enter the username admin
enter the password 1234

username and password matched

In [75]:
# 15. Ask for height in cm. If >= 150, check if weight is also >= 50.

enter the height 1245
enter the weight 32

the height is greater than 150 but not greater than 50

In [76]:
# 16. Ask for speed of a vehicle. If above speed limit, check if over limit by more than 20 km/h.

Enter speed:  89

Over limit by more than 20 km/h

In [80]:
# 17. Ask for day of week. If it's Saturday or Sunday, check if it’s also a public holiday.

enter the day of week 6
if its public holiday say 'Yes' or 'No'  yes

it's weekend and public holiday

In [81]:
# 18. If a number is odd, check if it’s prime.

SyntaxError: invalid character '’' (U+2019) (1025460928.py, line 1)

In [84]:
# 19. Ask for a string. If length > 5, check if it contains the letter 'x'.

enter the string annu

length is smaller than 5

In [86]:
# 20. Ask for purchase amount. If > 1000, check if customer is a 'Premium' member.

enter the amount 3456
if you are premium member type yes or otherwise no:  no

amount is greater than 1000 not a premium member

In [ ]:
21. Check if a year is a leap year, and if it is, check if February has 29 days.

In [4]:
# 22. Ask for three numbers. If first is largest, check if second is smallest.

entre the number 45
entre the number 3
entre the number 7

45 is greatest and 3 is smallest

In [9]:
# 23. Ask for time in 24-hour format. If between 6 and 18, check if it’s before noon.

enter the time in format of 24 hour 17

not afternoon

In [17]:
# 24. Ask for exam marks. If pass in all subjects, check if average > 75.

enter marks of english: 35
enter marks of hindi: 35
enter marks of math: 35
enter marks of science: 35
enter marks of social science: 35

pass in all subject
35.0
avg is not greater than 75

In [4]:
# 25. Ask for bank balance. If > 5000, check if withdrawal request is <= balance.

enter the avilable balance 6790
enter the withdrawl balance 8000

insuffcient balance

In [ ]:
# 26. Ask for temperature in Celsius. If above freezing, check if it’s also above boiling point.

#already done

In [6]:
# 27. If a string is a palindrome, check if it’s longer than 5 characters.

enter the string racecar

its palindrome and length is greater than 5

In [1]:
# 28. Ask for coordinates (x, y). If point is in first quadrant, check if x > y.

give coordinate of x 3
give coordinate of y 5

you are at first quadrant

In [6]:
# 29. Ask for income. If > 50000, check if tax bracket is above 20%.

enter the income 1230

income not above the 50000

In [8]:
# 30. Ask for a password. If it contains both letters and numbers, check if it also contains a special character.

SyntaxError: invalid decimal literal (774843542.py, line 15)

# ⬇️Extra questions must do

In [ ]:
Example 1: Write a program to check given no is positive. (Only if-statement)

In [ ]:
Example 2: Write a program to check given no is positive or negative. (Only if-else
statement)

In [ ]:
Example 3: Write a program to check given no is positive, negative or Zero.(Only ifelif-else statement)

In [2]:
# Example 4: Write a program to swap two variables without using third variable.

before swap a = 30 ,b = 20
after swap a = 20 ,b = 30

In [3]:
# Example 5: Write a program to swap two variables using third variable.

before swap a = 30 ,b = 20
after swap a = 20 ,b = 30

In [6]:
# Example 6: Write a program to swap two variables using using Addition and Subtraction.

enter the number 12
enter the number 14

before swap a = 12 ,b = 14
after swap a = 14 ,b = 12

In [4]:
# Example 9: Write a program to find squre root of given no.

4

In [ ]:
Example 10: Write a program to find largest no among the three inputs numbers.

In [12]:
# Example 11: Write a program to find area of triangle. (1/2* hight*base)

enter the base value of triangle 45
enter the height of triangle 3

area of triangle is : 67.5

In [13]:
# Example 12: Write a program to find area of square.

enter the side : 5

area of square : 25

In [17]:
# Example 13: Write a program to find given year is leep year or not.

enter the year 1700

it is not a leap year

In [2]:
# Example 14: Write a program to take circle radius from user and calculate area of circle.

enter the radius 4

Area of circle is : 50.24

In [4]:
# Example 15: Write a program to take length and width from user and calculate area of rectangle.

enter the width 23
enter the length 2

Area of rectangle : 46

In [ ]:
Example 16: Write a program  to take side length from user and calculate area of squar.

In [8]:
# Example 17: Write a program to take marks value from user and show their total marks, percentage and division.

enter the math marks 98
enter the english marks 97
enter the hindi marks 96
enter the science marks 95
enter the computer marks 90

Total marks are : 476.0
percentage is : 95.19999999999999
division is : 0.952

In [4]:
# Example 18: Write a program to check given number is even or odd.

enter the number 9756

Even number

In [3]:
# Example 19: Write a program to check given year is leep year or not.

Enter the year to check 2001

The given year is not a leap year

In [8]:
# Example 20: Write a program to take account type from user and check bank account type.

Enter your account type : saving

You have a saving account in the bank

In [11]:
# Example 21: Write a program to ATM withdrawal.

Enter your account type from below option :
saving
current
 e

In [ ]:
Example 22: Write a program to take balance from user and notify Minimum Balance Penalty.

In [ ]:
Example 23: Write a program to take role from user and check what services they access.

In [ ]:
Example 24: Write a program to take loan_type from user and check loan interest rate based on
loan type.

In [ ]:
Example 25: Write a program to take marks value from user and show their total marks,
percentage and division.