In [ ]:
1. Print numbers from 1 to 10 using a while loop.

In [ ]:
2 2. Print even numbers from 2 to 20 using a while loop.

In [ ]:
3 3. Print the squares of numbers from 1 to 5 using a while loop.

In [ ]:
4 4. Print each character of a given string using a while loop.

In [ ]:
5 5. Print the sum of numbers from 1 to 100 using a while loop.

In [ ]:
6 6. Print the multiplication table of 7 using a while loop.

In [ ]:
7 7. Print the first 10 natural numbers in reverse order using a while loop.

In [ ]:
8 8. Print all odd numbers between 1 and 20 using a while loop.

In [ ]:
9 9. Count down from 10 to 1 using a while loop.

In [ ]:
10 10. Print numbers from 1 to n, where n is taken from the user, using a while loop

In [ ]:
1. Calculate the factorial of a number using a while loop.

In [ ]:
2 2. Print the Fibonacci sequence up to n terms using a while loop.

In [ ]:
3 3. Reverse a string using a while loop.

In [ ]:
4 4. Count the number of digits in a given number using a while loop.

In [ ]:
5 5. Sum the digits of a given number using a while loop.

In [ ]:
6 6. Find the largest number in a list using a while loop.

In [ ]:
7 7. Find the smallest number in a list using a while loop.

In [ ]:
8 8. Check if a number is prime using a while loop.

In [ ]:
9 9. Print all multiples of 5 up to 100 using a while loop.

In [ ]:
10 10. Count how many vowels are in a given string using a while loop.

In [ ]:
1. Print a pyramid pattern of stars with 5 rows using a while loop.

In [ ]:
2 2. Print an inverted pyramid pattern of stars with 5 rows using a while loop.

In [ ]:
3 3. Generate all prime numbers between 1 and 100 using a while loop.

In [ ]:
4 4. Find all Armstrong numbers between 100 and 999 using a while loop.

In [ ]:
5 5. Find all perfect numbers between 1 and 500 using a while loop.

In [ ]:
6 6. Print a diamond pattern of stars with 5 rows on each side using a while loop.

In [ ]:
7 7. Print the multiplication tables from 1 to 5 using a while loop.

In [ ]:
8 8. Generate all two-digit numbers where the sum of digits is 10 using a while loop.

In [ ]:
9 9. Reverse a number using a while loop.

In [ ]:
10 10. Check if a string is a palindrome using a while loop.

In [ ]:
Example 1:WAP to print n natural numbers.
Example 2:WAP to print sum of n natural numbers.
Example 3:WAP to print multi of n natural numbers.
Example 4:WAP to print factorial of any natural number.
Example 5:WAP to print n even numbers.
Example 6:WAP to print sum of n even numbers.
Example 7:WAP to print even numbers up-to n natural numbers.
Example 8: WAP to print sum of even numbers up-to n natural numbers.
Example 9:WAP to print n odd numbers.
Example 10:WAP to print sum of n odd numbers.
Example 11:WAP to print odd numbers up-to n natural numbers.
Example 12: WAP to print sum of odd numbers up-to n natural numbers.
Example 13: Write a program to find factorial of given no.
Example 14: Write a program to print your names ten times.
Example 15: Write a program to find how many vowels and consonants are present
in strings.
Example 16: Write a program to add 5 in each elements in given list.
[10,20,30,40,50]
Example 17: Write a program to add 5 in each elements in given tuple.
(10,20,30,40,50)
Example 18: Write a program to create a list from given string.