In [ ]:
                                             # 11-08-2025

In [3]:
# 1. Print numbers from 1 to 10.

for i in range(1,10+1):
    print(i , end = " ")

1 2 3 4 5 6 7 8 9 10

In [5]:
# 2. Print even numbers between 1 and 50.

for i in range(1,50+1):
    if i % 2 == 0:
        print(i , end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [10]:
# 3. Print the multiplication table of a number entered by the user.

n = int(input("enter the number to get multiplication table"))
for i  in range(1,11):
    print(n,"*",i,"=",i*n)

enter the number to get multiplication table 25

25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250

In [12]:
# 4. Print each character of a given string on a separate line.

a = input("enter the number")
for i in a:
    print(i)

enter the number hii my self code

h
i
i

m
y

s
e
l
f

c
o
d
e

In [16]:
# 5. Find the sum of numbers from 1 to n (where n is user input).

n = int(input("enter the number"))
sum = 0
for i in range(1,n+1):
    sum = sum +i
print(sum)

enter the number 120

7260

In [18]:
# 6. Calculate the factorial of a given number.

n = int(input("enter the number"))
fac = 1
for i in range(1,n+1):
    fac = fac * i
print(fac)

enter the number 5

120

In [29]:
# 7. Count the number of vowels in a string.

a = input("enter the string :").lower()
count = 0
for i in a:
    if i in "aeiou":
        count = count + 1
print("number of vowels present in your string are :",count)

enter the string : hii i am your code

number of vowels present in your string are : 8

In [26]:
# 8. Print squares of numbers from 1 to 15.

for i in range(1,16):
    print(i**2, end = " ")

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225

In [32]:
# 9. Print numbers from 20 down to 1.

for i in range(20,0,-1):
    print(i, end = " ")

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [33]:
# 10. Calculate the sum of even numbers between 1 and 100.

sum_even =0
for i in range(1,101):
    if i % 2 == 0:
        sum_even = i + sum_even
print(sum_even)

2550

In [40]:
# 11. Print all items in a list.

l =[1,3,4,5,67,"hii"]
# li = []
# li.append(l)
# print(li)

for i in l:
    print(i)

1
3
4
5
67
hii

In [41]:
# 12. Find the largest number in a list.

l =[1,3,4,5,67]
for i in l:
    if i == max(l):
        print(i)

67

In [44]:
# 13. Count how many positive and negative numbers are in a list.

positive_count = 0
negative_count = 0
l =[1,3,4,5,67,-9,-2,-6,-3,2,-76]
for i in l:
    if i > 0:
        positive_count = 1 + positive_count
    else:
        negative_count = 1 + negative_count
print("Total length of the list is:",len(l))        
print("number of positive elements in list are :",positive_count)
print("number of negative elements in list are :",negative_count)

Total length of the list is: 11
number of positive elements in list are : 6
number of negative elements in list are : 5

In [45]:
# 14. Create a list of numbers between 1 and 50 that are divisible by 7.

l = []
for i in range(1,51):
    if i % 7 == 0:
        l.append(i)
print(l)

[7, 14, 21, 28, 35, 42, 49]

In [2]:
# 15. Print the index and value of each element in a list.

l = [12,13,14,15,16,17,18,23,45,67,89]
l1 = ["tushar","hii","php","sql","excel"]
for i in l1:
    print("index :",i)

index : tushar
index : hii
index : php
index : sql
index : excel

In [65]:
# 16. Reverse a string using a for loop.

a = input("enter a string to reverse")
rev = a[::-1]
for i in rev:
    print(i)

enter a string to reverse tushar

r
a
h
s
u
t

In [66]:
# 17. From a list of strings, print only those starting with the letter 'a'.

l = ["tushar","apple","appa","africa","set"]
for i in l:
    if i[0] == 'a':
        print(i)

apple
appa
africa

In [72]:
# 18. Remove duplicates from a list (without using set).

l = ["apple","appa","set",9,2,1,1,"apple",9]
l1 = []
for i in l:
    if i == l[:]:
        l1.remove(i)
print(l)

['apple', 'appa', 'set', 9, 2, 1, 1, 'apple', 9]

In [74]:
# 19. From a list of numbers, print the sum of only odd numbers.

l = [1,2,3,4,5,21]
sum = 0
for i in l:
    if i % 2 != 0:
        sum = sum + i
print("sum of odd number is :",sum)

sum of odd number is : 30

In [92]:
# 20. Create a new list containing the cubes of numbers from 1 to 10.

a = []
for i in range(1,11):
    cube = i**3
    a.append(cube)
print(a)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [101]:
# 21. Check if a number is prime.

a = int(input("enter the number"))
for i in range(1,a):
    if a % i == 0:
        print("it is a prime number")
        break
    else:
        print("not a prime number")

enter the number 22

it is a prime number

In [10]:
# 22. Generate the first n terms of the Fibonacci sequence.

n = int(input("enter the number"))
a = 0
b = 1
for i in range(0,n+1):
    temp = a
    a = b
    b = temp + b
    print(a, end = " ")

enter the number 12

1 1 2 3 5 8 13 21 34 55 89 144 233

In [19]:
# 23. Find the sum of digits of a given number.

a = int(input("enter the number"))
sum = 0
digit = 0
for i in range(1,a+1):
    digit = a // 10
    sum = sum + digit
print(sum)

enter the number 12

12

In [89]:
# 24. Count the number of words in a given sentence.

count = 0
a = input("enter a sentence :")
for i in a:
    if i.isalpha():
        count = count + 1
print(count)

enter a sentence : hii everyone here

15

In [90]:
# 25. Print all prime numbers between 1 and 100.

for i in range(1,101):
    if i %  == 0:
        print(i)

TypeError: unsupported operand type(s) for %: 'int' and 'type'

In [17]:
# 26. From a list, print all numbers greater than the average of the list.

count = 0
sum = 0
greater = []
l = [1,2,3,4,5,6,7,8,78,45,34,23]
for i in l:
    sum = sum + i
    count = count + 1
avg = sum/count          # if avg in loop it will act as running avg because at every loop iteration it will has new avg value
for i in l:
    if i > avg:
        greater.append(i)
print(greater)

[78, 45, 34, 23]

In [ ]:
# 27. Count the frequency of each character in a string.

In [22]:
# 28. Given two lists, print common elements without using set.

l1 = [1,2,3,4,5,6,7,8,78,45,34,23]
l2 = [1,2,3,4,45,99,98,97,96]
l3 = []
for i in l1:
    if i in l2:
        l3.append(i)
print(l3)

[1, 2, 3, 4, 45]

In [25]:
# 29. Print the product of all elements in a list.

l = [1,2,3,4,5,6,7]
product = 1
for i in l:
    product = product * i
print(product)

5040

# .split()

The  method is a string method in Python used to divide a string into a list of substrings, based on a specified separator

                                                               # or

it is a Python string method that breaks a string into parts and returns them as a list, using a separator like space or comma.

In [5]:
# taking list as input
a = "hii i am coder".split()
b = []
b.append(a)
print(a)
b[0][0]

['hii', 'i', 'am', 'coder']

'hii'

In [1]:
# 30. Given a sentence, print only the words that have more than 5 letters.

a =input("enter a sentence :").split()
for i in a:
    if len(i) > 5:
        print(i)

enter a sentence : hi tushar i am programer

tushar
programer

In [ ]:
                                                 # 12-08-2025

In [ ]:
# loop starts from here on

In [2]:
# increasing triangle
n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [4]:
# decreasing triangle 
n = 5 
for i in range(n):
    for j in range(i,n):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [3]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end = " ")
    for j in range(i+1):
        print("*",end = " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [9]:
n = 5
for i in range(n):
    for j in range(i):
        print(" ",end = " ")
    for j in range(n-i):
        print("*",end = " ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [8]:
# Triangle
n = 6
for i in range(n):
    for j in range(n-i-1):
        print(" ",end = "")
    for j in range(i+1):
        print("*",end = " ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [11]:
# Reverse Triangle
n = 5
for i in range(n):
    for j in range(i):
        print(" ",end= "")
    for j in range(i,n):
        print("*",end= " ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [10]:
# Pyramid
n = 5
for i in range(n):
    for j in range(i,n-1):
        print(" ", end=" ")
    for j in range(i):
        print("*", end=" ")
    for j in range(i + 1):
        print("*", end=" ")
    
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [11]:
# Reverse Pyramid
n = 5
for i in range(n):
    for j in range(i):
        print(" ", end=" ")
    for j in range(i,n):
        print("*", end=" ")
    for j in range(i,n-1):
        print("*", end=" ")
    
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [24]:
n = 5
for i in range(n):
    for j in range(i,n-1):
        print(" ",end = "")
    for j in range(i+1):
        print("*",end = " ")  
    print(" ",end=" ")
    
for i in range(n):
    for j in range(i,n-1):
        print(" ",end = "")
    for j in range(i+1):
        print("*",end = " ")    
    print()

    *      * *     * * *    * * * *   * * * * *       *
   * *
  * * *
 * * * *
* * * * *

In [6]:
for i in range(0,5):
    for j in range(i+1):
        print(chr(65 + j),end = " ")
    print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
                                             # 13-08-2025

In [25]:
n = 5

In [2]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [3]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(i+1):
        print("*", end = " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [5]:
n = 5
for i in range(n):
    for j in range(i,n):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [6]:
n = 5
for i in range(n):
    for j in range(i):
        print(" ", end = " ")
    for j in range(n-i):
        print("*", end = " ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [7]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(2*i+1):
        print("*", end = " ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [16]:
n = 5
for i in range(n):
    for j in range(i):
        print(" ", end = " ")
    for j in range(2*(n-i)-1):
        print("*", end = " ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [15]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print("", end = " ")
    for j in range(i+1):
        print("*", end = " ")
    for j in range(2*(n-i)-2):
        print("", end = " ")
    for j in range(i+1):
        print("*",end = " ")
    print()

    *         *
   * *       * *
  * * *     * * *
 * * * *   * * * *
* * * * * * * * * *

In [14]:
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(2*i+1):
        print("*", end = " ")
    for j in range(2*(n-i)-2):
        print(" ", end = " ")
    for j in range(2*i+1):
        print("*", end = " ")
    print()

        *                 *
      * * *             * * *
    * * * * *         * * * * *
  * * * * * * *     * * * * * * *
* * * * * * * * * * * * * * * * * *

In [13]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*",end = " ")
    print() 
for i in range(n):
    for j in range(n-i-1):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
a = 10
print(a)

10

In [1]:
i = 0
sum = 0
while i < 10:
    sum = sum + i
    i += 1
print(sum)

45

In [43]:
n = 5
for i in range(n):
    for j in range(n):
        if i == 0 or j == 0:
            print("*", end = "")
        else:
            print(" ", end = "")
    for j in range(n):
        if i == 0 or j == n-1:
            print("*", end = "")
        else:
            print(" ", end = "")    
    print()

**********
*        *
*        *
*        *
*        *

In [50]:
n = 5
for i in range(n):
    for j in range(n):
        if i == 0 or j == 0 or i == n-1 or j == n-1:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [52]:
n = 5 
for i in range(n):
    for j in range(n-i):
        if i == 0 or j == 0 or j == n - i -1:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
*     *
*   *
* *
*

In [65]:
n = 5 
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(i+1):
        if j == 0 or j ==i or i == n -1:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

        *
      * *
    *   *
  *     *
* * * * *

In [1]:
                                               # 19-08-2025

In [18]:
# armstrong number

a = int(input("enter the number"))
sum = 0
digit = 0
org = a
power = len(str(a))
while a != 0:
    digit = a % 10
    sum = sum + digit**power
    a = a // 10    
if sum == org:
    print("it is armstrong number")
else:
    print("not a armstrong number")

enter the number 04

4
it is armstrong number