In [3]:
print("hiiii")

hiiii

# first

<h1>HELLO</h1>

In [1]:
print("hi.............there")

hi.............there

In [4]:
import keyword
all_keys = keyword.kwlist
print(all_keys)
print(len(all_keys))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [5]:
all_keys = keyword.softkwlist
print(all_keys)
print(len(all_keys))

['_', 'case', 'match', 'type']
4

In [7]:
import string
lower_case = string.ascii_lowercase
print(lower_case)
print(len(lower_case))

abcdefghijklmnopqrstuvwxyz
26

In [10]:
upper_case = string.ascii_uppercase
print(upper_case)
print(len(upper_case))

ABCDEFGHIJKLMNOPQRSTUVWXYZ
26

# identifier

1. do not start with digit(0-9)
2. always start with (a-z) or (A-Z) or (_) underscore
3. Do not use space between character
4. case sensitive

In [1]:
1x = 10
print(1x)

SyntaxError: invalid decimal literal (1182467522.py, line 1)

In [4]:
X = 10
print(X)

10

In [2]:
_x =10
print(_x)

10

In [6]:
_1 =10
print(_1)

10

In [7]:
import keyword
all key = keyword.kwlist
print(all key)

SyntaxError: invalid syntax (2550559621.py, line 2)

In [8]:
import keyword
all_key = keyword.kwlist
print(all_key)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
y = 10
print(Y)

NameError: name 'Y' is not defined

In [11]:
x =10

In [12]:
print(x)

10

In [ ]:
z = 20

In [13]:
print(z)

NameError: name 'z' is not defined

In [ ]:
xyz=10

In [14]:
print(xyz)

NameError: name 'xyz' is not defined

In [15]:
xyz=10

In [16]:
print(xyz)

10

In [17]:
print(Xyz)

NameError: name 'Xyz' is not defined

In [18]:
_1x =10
_xyz_123 =20
print(_1x)
print(_xyz_123)

10
20

In [19]:
x =10
y =10.5
z ='Python'
print(x)
print(y)
print(z)

10
10.5
Python

# literals

constant values that assign to any identifier is called as literals

In [20]:
x = 10
print(type(x))

<class 'int'>

In [21]:
print(id(x))

140732679006936

In [23]:
y = 0.4
print(type(y))
print(id(y))

<class 'float'>
2004443909008

In [24]:
y = 10.0
print(type(y))
print(id(y))

<class 'float'>
2004411772304

In [25]:
x = 10+20j
y = 0+0j
print(type(x))
print(type(y))

<class 'complex'>
<class 'complex'>

In [26]:
z = j
print(type(j))

NameError: name 'j' is not defined

# string

In [1]:
x = 'a'
print(x)
print(type(x))
print(id(x))

a
<class 'str'>
140732713934400

In [2]:
x = "Python"
print(x)
print(type(x))
print(id(x))

Python
<class 'str'>
140732712956528

In [3]:
x = '''Hii everyone'''
print(x)
print(type(x))
print(id(x))

Hii everyone
<class 'str'>
1508381023536

In [4]:
x = ' this 
        is
            python class'
print(x)

SyntaxError: unterminated string literal (detected at line 1) (288648764.py, line 1)

In [5]:
x = " this 
        is
            python class"
print(x)

SyntaxError: unterminated string literal (detected at line 1) (2027365041.py, line 1)

In [6]:
x = ''' this 
        is
            python class '''
print(x)

 this
        is
            python class

In [9]:
x = 'python is "important"  '
print(x)

python is "important"

In [10]:
x = 'python is 'important' lang '
print(x)

SyntaxError: invalid syntax (3508647074.py, line 1)

# list

In [11]:
t =[2,'python',4.6,(2,4,7,3),7]
print(t)
print(type(t))
print(id(t))
print(len(t))

[2, 'python', 4.6, (2, 4, 7, 3), 7]
<class 'list'>
1508440337280
5

In [12]:
t =[2,python,4.6,(2,4,7,3),7]
print(t)

NameError: name 'python' is not defined

# tuple

In [13]:
r = (2,4.5,"php",'java',(3,5,4))
print(r)
print(type(r))
print(len(r))
print(id(r))

(2, 4.5, 'php', 'java', (3, 5, 4))
<class 'tuple'>
5
1508440230304

In [1]:
a = int(input("entr the  num"))

entr the  num 90

In [2]:
print(a)

90

In [3]:
print(type(a))

<class 'int'>

In [7]:
# string input
a = input("enter the name")

enter the name hi

In [9]:
# typecast
a = int(input("enter a num"))

enter a num 5

In [5]:
a = float(input("enter the number"))

enter the number 8

In [6]:
print(a)

8.0

In [10]:
# for character input                                                                  17-07-2025
a = input("enter the charcter")
b = input("enter the next char")
print(a+b)

enter the charcter Tushar
enter the next char Shukla

TusharShukla

In [12]:
# for numerical data
a = input("enter the number")
b = input("enter the next number")
print(a+b)

enter the number 8
enter the next number 9

89

In [13]:
# conversion of string into integer
a = str(30)
print(type(a))

<class 'str'>

In [15]:
b = int(a)
print(a)
print(type(b))

30
<class 'int'>

In [18]:
a = str(40)
b = int(40)
c = float(40)
print(type(a))
print(type(b))
print(type(c))
print(a)
print(b)
print(c)

<class 'str'>
<class 'int'>
<class 'float'>
40
40
40.0

In [19]:
# type casting
d = int(a)
e = float(b)
f = int(c)
print(type(d))
print(type(e))
print(type(f))
print(d)
print(e)
print(f)

<class 'int'>
<class 'float'>
<class 'int'>
40
40.0
40

In [24]:
a = int(input("enter the num"))
b = input("enter your name")
c = float(input("enter the float number"))
e = int(a)
f = int(b)
g = int(c)
sum = e+f+g
print(sum)

enter the num 5
enter your name tushar
enter the float number 6

ValueError: invalid literal for int() with base 10: 'tushar'

In [3]:
#                                              18-07-2025
a = input("enter the character")
b = int(input("enter"))
c = float(input("enter"))
a = int(a)
b = int(b)
c = int(c)
print(a)
print(b)
print(c)
print(type(a))

enter the character 4
enter 2
enter 7.8

4
2
7
<class 'int'>

In [5]:
# Write a python progarm to add to add two numbers
a = 23
b = 34
sum = a+b
sum

57

In [7]:
# Q2
a = 23
b = 2
remainder = a%b
remainder

1

In [15]:
# floor devision
a = int(input("enter the num"))
b = int(input("enter the num"))
c = a//b
print("the floor is : ",c)

enter the num 45
enter the num 3

the floor is :  15

In [20]:
# devision
a = int(input("enter the num"))
b = int(input("enter the num"))
c = a/b
print("is : ",c)

enter the num 4
enter the num 6

is :  0.6666666666666666

In [9]:
# Q3
a = input("enter")
print(type(a))

enter hi

<class 'str'>

In [18]:
# Q4
a = 34
b = 80
c = a > b
print("a is greater than b :",c)

a is greater than b : False

In [11]:
# Q5
a = int(input("enter the num1"))
b = int(input("enter the num2"))
avg = a+b/2
avg

enter the num1 40
enter the num2 40

60.0

In [13]:
# Q6
a = int(input("enter the num"))
sq = a*a
sq

enter the num 5

25

In [1]:
                                                      # 19-07-2025
# membership op # it gives the output in boolean operation whether true and false
# in , not in

In [2]:
# list
# individual element comma seperated
# hetrogeneous 
# ordered 
# mutable
a =["sql",7,9.09] # sort of datatype

In [3]:
a = [1,4,3,6,86,4]

In [4]:
86 in a

True

In [5]:
86 not in a

False

In [13]:
# simple interest
a = int(input("enter the p value :"))
b = int(input("enter the r value :"))
c = int(input("enter the t value :"))
si = (a*b*c)/100
print("simple interest is :", si )

enter the p value : 78000
enter the r value : 10
enter the t value : 4

simple interest is : 31200.0

In [14]:
# identity op (boolean output)
a = 4
b = 9
print(a is b)
print(a is not b)

False
True

In [3]:
                                                    # 21-07-2025
# write the program to print max and min number by taking user input
a = int(input("enter the number"))
b = int(input("enter the number"))
c = int(input("enter the number"))
d = max(a,b,c)
e = min(a,b,c)
print("maximum number is :" ,d)
print("menimum number is :" ,e)

enter the number 89
enter the number 76
enter the number 9

maximum number is : 89
menimum number is : 9

In [5]:
# conditional statement
a = int(input("entre the number"))
if a > 0:
    print("your given number is positive")
elif a < 0:
    print("your given number is negative")
else:
    print("your given number is Zero")

entre the number -7

your given number is negative

In [7]:
a = int(input("enter the num"))
if a%2 == 0:
    print("even")
else:
     print("odd")

enter the num 3

odd

In [14]:
a = int(input("enter the number"))
if a >=90:
    print("A grade")
elif a>=70:
     print("B grade")
elif a>=60:
    print("C grade")
elif a>=50:
    print("D grade")    
else:
     print("E grade")

enter the number 75

B grade

In [2]:
                                           # 22-07-2025
#write a program to find largest num amoung three num
a = int(input("enter the number"))
b = int(input("enter the number"))
c = int(input("enter the number"))

if a > b and a > c:
    print(a," is greater than",b," and ",c)
elif b > a and b > c:     
    print(b," is greater than",a," and ",c)
else:
    print(c," is greater than",a," and ",b)

enter the number 23
enter the number 4
enter the number 5

23  is greater than 4  and  5

In [8]:
a = int(input("enter the number"))
b = int(input("enter the number"))
c = int(input("enter the number"))
if a > b > c:
     print("a is greater")
elif b > a > c:
    print("b is greater")
else:  
    print("c is greater")

enter the number 23
enter the number 4
enter the number 5

c is greater

In [17]:
# write a program to fund withdrawl and to show case available fund

a = float(input("enter your amount"))
b = float(input("enter amount to withdraw"))

if b <= a:
    print("sufficient amount")
    r = a-b
    print("the remaining amount is", r , "after withdraw")
else:
    print("insufficient fund")

enter your amount 4677
enter amount to withdraw 677

sufficient amount
the remaining amount is 4000.0 after withdraw

In [ ]:
                                      # 24-07-2025

In [1]:
# indexing and slicing
a = [1,6,9,3,5,85,4,3]

In [2]:
a[5]

85

In [3]:
a[6] = 120
print(a)

[1, 6, 9, 3, 5, 85, 120, 3]

In [4]:
a[-2]

120

In [5]:
# list of list
a = [12,45,56,[6,89,['a','b'],[9,7,21,454]]]

In [8]:
print(a[3][3][3])

454

In [10]:
print(a[3][2][1])

b

In [12]:
a = [10,20,30,[40,50,60,[70,80,90],120,["a","b","c"],900]]

In [14]:
a[3][6]

900

In [ ]:
                                          #  25-07-25
# slicing (subset of the list)
# starting position # ending position # stepsize

In [1]:
a = [1,2,3,4,5,6,7,8,9,10,11,12]

In [2]:
print(a[0:6])  #starting = include , ending = not include

[1, 2, 3, 4, 5, 6]

In [3]:
print(a[0:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [4]:
print(a[0:16])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [5]:
print(a[:6])

[1, 2, 3, 4, 5, 6]

In [9]:
print(a[4:6]) # fetch subset

[5, 6]

In [6]:
print(a[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [7]:
print(a[17:6])

[]

In [13]:
print(a[0:5])      # subset of a list , type = list
print(a[0:5][1])   # individual element , type = int,str,float

[1, 2, 3, 4, 5]
2

In [14]:
print(a[0:8:2])

[1, 3, 5, 7]

In [17]:
print(a[::])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [18]:
print(a[::2])

[1, 3, 5, 7, 9, 11]

In [20]:
print(a[:4:2])

[1, 3]

In [27]:
print(a[-1:-4])   # the stepsize is default +1 and also represent the direction
                  # and we are asking for negative direction and by default the direction
                    #  is positive so because of this the list is empty'''

[]

In [24]:
print(a[-1:-4:-1]) # this is correct way to do

[12, 11, 10]

In [30]:
                                   # 26-07-25
print(a[-1:4:-1])

[12, 11, 10, 9, 8, 7, 6]

In [34]:
a = [10,20,30,40,50,"aryan"]

In [35]:
print(a[4:1])         #coninsight

[]

In [37]:
print(a[4:1:-1])       #resolve

[50, 40, 30]

In [38]:
# nested if 
# write a python program to check if a number is positive negative or zero is it is positive also check if it is even or odd.

a = int(input("enter the number"))
if a >= 0:
    print("number is positive")
    if a%2==0:
        print("number is even")
    else:
        print("number is odd")
elif a < 0:
    print("negative num")
else:
      print("zero number")

enter the number 4

number is positive
number is even

In [9]:
# write a python program to take input age and print status if adult and also check for senior

age = int(input("enter your age"))
if age > 18:
    print("adult")
    if age > 65:
      print("you are senior")  
elif age < 18:
     print("teen")

enter your age 34

adult

In [1]:
# write a program check which of three number is largest if ties special msg 

a = int(input("enter the number"))
b = int(input("enter the number"))
c = int(input("enter the number"))

if a > b or a > c:
    print("A is greater")
    if a == b or a == c:
        print("a is tie to another number...")
elif b > a or b > c:     
    print("B is greater")
    if b == a or b == c:
        print("b is tie to another number...")
elif c > a or c > b:     
    print("c is greater")
    if c == a or c == b:
        print("c is tie to another number...")
else:
    print("invalid input....... ")

enter the number 45
enter the number 45
enter the number 9

A is greater
a is tie to another number...

In [10]:
# write a program to take input as a temperature and clasify the condition hot , colt or pleasant and very cold

temp = int(input("enter the temperature"))
if temp >= 50:
    print("it's hot")
    if temp >= 55:
        print("it's really too hot")
elif temp <= 0:
    print("it's cold")
    if temp <= -15:
        print("it's too cold")
elif temp >= 20 and temp <= 30:
    print("it is pleasant today")
else: 
    print("invalid input")

enter the temperature 58

it's hot
it's really too hot

In [12]:
# write a program to check wheater the year is leap year or not

year = int(input("enter the year"))
if year % 100 == 0:
    if year % 400 == 0:
        print("it is a leap year")
    else:
        print("Not a leap year") 
elif year % 4 == 0:
    print("you have enterd a leap year")
else:
    print("not a leap year")


#                                            or

# year = int(input("enter the year"))
# if year % 4 == 0:
#     print("you have enterd a leap year")
# else:
#     print("not a leap year")

enter the year 1800

Not a leap year

In [14]:
# write a program to check if three digit number is divisible by both three and seven
# ex 126 , 147 , 168 , 189

num = int(input("enter a three digit number"))
if num > 99 and num < 1000:
    if num % 3 == 0 and num % 7 == 0:
        print("number is divisible by both 3 and 7")
    else:
        print("not divisible by 3 and 7")
else:
    print("enter a valid three digit number")

enter a three digit number 126

number is divisible by both 3 and 7

In [26]:
# write a program to check a name that is started with vovels or consonant

a = input("enter your name or a string value")
if a[0] in ("a","e","i","o","u"):
    print("your name start with a vovel alphabet")
else:
    print("your name start with consonant")

enter your name or a string value amit

your name start with a vovel alphabet

In [32]:
# write a python program to check if a string is palindrome or not
# ex - Hannah - Ada - Otto - Eve - Bob - Nitin


a = input("enter a string name")
if a[:] == a[::-1]:
    print("it is a palindrome name")
else:
    print("not a palindrome name")

enter a string name eve

it is a palindrome name

In [ ]:
 # 29-07-2025  ------------------  no class

In [19]:
# Write a Python program that classifies a number based on its value and properties.
# 🧩 Requirements:
# - Input: num (an integer)
# - Logic:
# - If num is positive:
# - If num is even → Output: "Positive and even"
# - Else → Output: "Positive and odd"
# - Else if num is negative:
# - If num is divisible by 3 → Output: "Negative and divisible by 3"
# - Else → Output: "Negative and not divisible by 3"
# - Else → Output: "Zero"

a = int(input("enter the number"))
if a >= 0:
    if a % 2 == 0:
        print("Number is positive and even")
    else:
        print("number is positive and odd")
elif a < 0 :
    if a % 3 == 0:
        if a % 9 == 0:
            if a % 16 == 0:
                if a % 18 == 0:
                    print("Number is negative and divisible by 3 , 9 , 16 ,18")
                else:
                    print("Number is negative but not divisible by 3")    
else:
    print("Zero")

enter the number -144

Number is negative and divisible by 3 , 9 , 16 ,18

In [13]:
                                           # 29-07-2025
# - Q4: Build a toll calculator:
# - Ask for vehicle type (Car, Truck, Bike)
# - If Car, check if it’s peak hours
# - If Truck, check number of axles
# - If Bike, apply flat rat

vehical = input("enter your vehical type Car, Truck, bike")
if vehical == "car":
    weight = float(input("enter the weight of your car"))
    if weight >= 800:
         print("you have to pay 100 ruppe ")
    elif weight >= 2000:    
         print("Your car is overweight")
    else:
        print("you have to pay 50 ruppe")
elif vehical == "Truck":
    weight = float(input("enter the weight of your truck"))
    if weight >= 10000:
        
        print("you have to pay 2000 rupee")
    else:
        print("you have to pay 1000 rupee")
elif vehical == "bike":
    weight = float(input("enter the weight of your truck"))
    if weight >= 180:
        
        print("you have to pay 30 rupee")
    else:
        print("you have to pay 10 rupee")      
else:
    print("invalid input")

enter your vehical type Car, Truck, bike car
enter the weight of your car 2001

you have to pay 100 ruppe

In [7]:
# - Tax calculator:
# - Ask filing status (Single, Married, Head of Household)
# - Ask income
# - Single pays 10% if income < ₹500,000, else 20%
# - Married pays 5% if income < ₹800,000, else 15%
# - Head of Household pays 7% if income < ₹700,000, else 17%

status = input("enter your status single , married , head of household" )
if status == "single":
    income = float(input("enter your annual income"))
    if income <= 500000:
        print("you have to pay 10% of tax that is =",income*0.10)
    else:
        print("you have to pay 20% of tax that is =",income*0.20)
elif status == "married":
    income = float(input("enter your annual income"))
    if income <= 800000:
        print("you have to pay 5% of tax that is =",income*0.05)
    else:
        print("you have to pay 15% of tax that is =",income*0.15)
elif status == "head":
    income = float(input("enter your annual income"))
    if income <= 700000:
        print("you have to pay 7% of tax that is =",income*0.07)
    else:
        print("you have to pay 17% of tax that is =",income*0.17)

enter your status single , married , head of household single
enter your annual income 600000

you have to pay 20% of tax that is = 120000.0

In [37]:
                                                    # 30-07-2025

In [38]:
mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [13]:
# how do you access the first element of a list called myList

print(mylist[0])

1

In [15]:
# what does mylist[-1] retrive from mylist 1 to 15

''' ans = it will retrive 15 '''
print(mylist[-1])

15

In [16]:
# write a slice expression to get the element 2,3,4 from my list

print(mylist[1:4])

[2, 3, 4]

In [17]:
# how do you accesss the last element of the list

print(mylist[-1])

15

In [18]:
# what is the result of my list[1:4]

mylist[1:4]

[2, 3, 4]

In [19]:
# describe what negative indexing means and give example

''' ans = Negative indexing means the reverse order of given elements
          it shows the reverse or negative direction of the list '''
print(mylist[-6])

10

In [20]:
# how do you retrive every second element from the list using  slicing

print(mylist[::2])

[1, 3, 5, 7, 9, 11, 13, 15]

In [21]:
# what does mylist [:3] and [3:] and [1:3] and [-1:-3] and [-3:-1] represent

print(mylist[:3])
print(mylist[3:])
print(mylist[1:3])
print(mylist[-1:-3])
print(mylist[-3:-1])

[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[2, 3]
[]
[13, 14]

In [22]:
# write a slice to return all element accept the first and last element of the list

print(mylist[1:-1])

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [23]:
# what happens if a slice start index is greater than the stop index

''' ans = if the starting index is greater than the last index it will try to fecth the element from the wrong direction
          because the default stepsize of slicing is +1 and thats why it will throw the emty list '''
print(mylist[6:3])

[]

In [2]:
# write a program to ftech the string start with "a" then give the output as string started with "a" and then 
# if the string is starting with char like vovels or consonants give the output for them 

a = input("enter the name").upper()
if a[0] in "AEIOU":
    print("your name start with vovel alphabet")
    if a[0] == "A":
         print("your name start with 'a' alphabet")
else:
    print("your name start with consonant alphabet")

enter the name Apple

your name start with vovel alphabet
your name start with 'a' alphabet

<h3>.isdigit</h3>

The isdigit() method is used with strings to check whether all 
characters in the string are digits (0–9). It’s a handy way to 
validate numeric input before converting it to an integer.

In [42]:
a = "hello"
print(a.isdigit())

False

In [44]:
a = "123"
print(a.isdigit())

True

<h3>.isalpha</h3>

This method checks whether all characters in a string are 
alphabetic (A–Z or a–z). It returns True if the string 
contains only letters and at least one character, otherwise False.

In [46]:
word = "tushar"
print(word.isalpha())

True

In [47]:
word = "tushar12"
print(word.isalpha())

False

<h3>.lower</h3>

The .lower() method is a built-in string function that returns a 
new string with all uppercase letters converted to lowercase.
It’s perfect for making comparisons or cleaning up user input 
when case doesn’t matter.

In [50]:
text = "HELLO , TUSHAR"
print(text.lower())

hello , tushar

<h3>.upper</h3>

.upper() — a handy string method that converts all lowercase letters to uppercase.

In [51]:
text = "hello , tushar"
print(text.upper())

HELLO , TUSHAR

In [52]:
                                                # 31-07-2025

In [62]:
# write a program to check a 4 digit number is palindrome or not and with the next condition
# the sum of first two digit is equal to the sum of last to digit

a = int(input("enter a four digit number: "))
if a>999 and a<10000:
    if str(a) == str(a)[::-1]:
        print("its a palindrome") 
    else:    
        print("its not a palindrome")
else:
    print("its not a four digit number")

enter a four digit number:  12334

not a four digit number

In [13]:
a = int(input("enter a four digit number: "))
if a>999 and a<10000:
    a_str = str(a)
    if a_str == a_str[::-1]:
        print("its a palindrome") 
    else:    
        sum1 = int(a_str[0]) + int(a_str[1])
        sum2 = int(a_str[2]) + int(a_str[3])
        if sum1 == sum2:
            print("The sum of starting two digit is equal to the sum of last two digit number")
        else:    
            print("not equal")      
else:
    print("its not a four digit number")

enter a four digit number:  6208

The sum of starting two digit is equal to the sum of last two digit number

In [ ]:
                                                      # 01-08-2025

In [12]:
#  # write a program that determines the price of movie ticket based on age and membership status
# if the person is under 12 the ticket is 5& 
# if  the person  is 60 or above the tickect is $7
# for age between 12 and 59 if they are the member ticket is 8 $ otherwise 12$

age = int(input("enter your age"))
member = input("yes or no").upper()
if age <= 12:
    print("you have to pay 5$")
elif age > 12 and age <= 59:
    if member == "YES":
        print("you are a member you have to pay 8$")
    else:
        print("you are not a member you have to pay 12$")
else:
    if age > 60:
        print("you have to pay 6$")

enter your age 2
yes or no no

you have to pay 5$

In [20]:
# write a python pro that takes the number of month 1 to 12 and temp as an input accourding to month 
# print the season winter , summer , autom ,spring
# for winter if the temp is less than 10 print freezing
#     spring or summer if temp > 30 print hot 
# if the month is not between 1 to 12 print invalid 

month = int(input("enter the month"))
temp = int(input("enter the temperature"))
if month >= 1 and month <= 3 :
    print("its winter")
    if temp <= 10:
        print(" freezing")
elif month >= 4 and month <= 6 :
    print("its spring")
    if temp >= 30:
        print("hot") 
elif month >= 7 and month <= 9 :
    print("its summer")
    if temp >= 30:
        print("hot") 
elif month >= 10 and month <= 12 :
    print("its automn")
else:
    print("invalid month")

enter the month 19
enter the temperature 7

invalid month

In [21]:
# write a python program to cal bmi using a person weight in kg and height in meters
# if bmi is less thaon 18.5 print underweight further if the bmi is less than 15 also print seviorly underweight
# if the bmi is between 18 .5 to 25 print normal 
# if the bmi is above 25 print overweight or obus
# BMI = weight (kg) / (height (m))**2

weight = float(input("enter the weight"))
height = float(input("enter the height"))     

bmi = weight / (height)**2
if bmi <= 18.5:
    print("you are underweight")
    if bmi <= 15:
        print("you are seviorly underweight")
elif bmi > 18.5 and bmi < 25:
    print("you are normal")
elif bmi >= 25:
    print("you are overweight")

else:
     print("invalid")

enter the weight 12
enter the height 23

you are underweight
you are seviorly underweight

In [ ]:
                                                # 02-08-2025

In [4]:
year = int(input("enter the year"))
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
                 print("it is leap year")
else:
                 print("not a leap year")

enter the year 1700

not a leap year

In [5]:
b = "cybrom"
b[2] = 'c'
b

TypeError: 'str' object does not support item assignment

In [ ]:
                                                  # 04-08-2025

In [2]:
# string
# integer
# float
# boolean

In [3]:
# built in datatype
# list
# tuple
# set
# dictionary

In [11]:
#list 
a = [1,4,6,7,9,78]
# method of list

# a.append(20)
# a

# a.sort()
# a

# a.reverse()
# a

a.index(78)

5

In [ ]:
#tuple
# enclosed in () , comma saparated
# empty tuple can be created
# immutable in nature
# heterogeneous
# ordered and indexed

In [12]:
# set
# enclosed in cury brases
# element are comma seperateed
# immutable
# unordered and unindexed
# hetrogenious
# no redundancy
a = {1,3,4,754,3,3,4,5.6}
print(type(a))
a

<class 'set'>

{1, 3, 4, 5.6, 754}

In [20]:
# dectionary

# curly breses , pair key value {key:value}, json
# unindexed
# hetrogeneous in nature\
# mutable
b = {"name":"a","id":5}

b = {"name":["a","b","c"],"id":[1,3,5,7,8]}
b["name"][2]
b["name"].append(12)
b["name"][0] = 100
b

{'name': [100, 'b', 'c', 12], 'id': [1, 3, 5, 7, 8]}

In [ ]:
                                      # 05-08-2025

In [30]:
# for loop 
# i gives movement
# range is function


for i in range(6):
    print(i)

0
1
2
3
4
5

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [19]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [21]:
a = [10,20,30,40]
for i in a:
    # print(i)
    print(i, end = ",")

10,20,30,40,

In [22]:
a = [10,20,30,40]
for i in a:
    print(a)

[10, 20, 30, 40]
[10, 20, 30, 40]
[10, 20, 30, 40]
[10, 20, 30, 40]

In [29]:
for i in range(-10,0,2):
    print(i, end =",")

-10,-8,-6,-4,-2,

In [32]:
n = int(input("enter the nth term"))
for i in range(1,n+1):
    print(i,end = ",")

enter the nth term 20

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [36]:
n = int(input("enter the number"))
for i in range(1,n+1):
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is odd")

enter the number 20

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [50]:
a = [1,2,3,4,5,6,7,8]
for i in a:
    if i%2 == 0:
        print("even",i)

even 2
even 4
even 6
even 8

In [53]:
sum = 0
for i in a:
    if i%2 == 0:
        sum = sum + i
print(sum)

20

In [ ]:
                                            # 06-08-2025

In [1]:
10,-4,-1

(10, -4, -1)

In [1]:
# write a program to print count of even and count of odd by taking user input for nth value

count = 0
counto = 0
n = int(input("enter the nth term"))
for i in range(1,n+1):
    if i % 2 == 0:
        count = count + 1        
    else:
        counto = counto + 1
       
print("number of even : ",count)
print("number of odd : ",counto)

enter the nth term 123

number of even :  61
number of odd :  62

In [3]:
# write a python program to print the sum of even number and sum of odd number and count of sum and odd number:

n = int(input("Enter the nth term"))
sume = 0
counte = 0
sumo = 0
counto = 0

for i in range(1,n+1):
    if i % 2 == 0:
        counte = counte + 1
        sume = sume + i
    else:
        counto = counto + 1
        sumo = sumo + i
        
print("number of even : ",counte)
print("sum of even : ",sume)
print("number of odd : ",counto)
print("sum of odd : ",sumo)

Enter the nth term 123

number of even :  61
sum of even :  3782
number of odd :  62
sum of odd :  3844

In [7]:
# write a program to give the factorial of n nummber

n = int(input("enter the number"))
fac = 1
for i in range(1,n+1):
    fac = fac *i
    
print(fac)

enter the number 3

6

In [ ]:
                                             # 07-08-2025
# fibonacci series
# prime number objective and conclusion

In [13]:


a = input("enter the string").lower()

digit = 0
alpha = 0
special = 0

for i in a:
    if i.isdigit():
        digit = digit + 1      
    elif i.isalpha():
        alpha = alpha + 1
    else:
        special = special + 1
       
print("number of digit are :",digit)
print("number of alpha are :",alpha) 
print("number of special char are :",special)

enter the string tushar123#$

number of digit are : 3
number of alpha are : 6
number of special char are : 2

In [ ]:
# write a program to fetch the number of vovels and consonants and number of special char

In [21]:
n = int(input("enter the nth number"))
a = 0
b = 1

# for i in range(2,n+1):
#     temp = a
#     a = b
#     b = temp + b
#     print(a, end = "  ")


print(a,b,end = " ")
for i in range(2,n+1):
    c = a+b
    print(c,end = " ")
    a = b 
    b = c

enter the nth number 22

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711

In [10]:
# write a progarm to check whether the number is prime number or not

a = int(input("enter the number"))

if  a == 0 or a == 1:
    print("not a prime")
elif a>= 2:
    for i in range(2,a):
        if a % i == 0:
            print("not a prime number")
            break
    else:
        print("it is a prime number")          
else:
    print("not a prime ")

enter the number 4

not a prime number

In [3]:
                                        # 8-08-2025 ------ Text

In [7]:
# Q1) write a python program to input two numbers and print their sum ,difference,product and quotient

a = int(input("Enter the first number"))
b = int(input("Enter the second number"))

sum = a + b
sub = b - a
multiple = a * b
division = a/b
print("The sum is :",sum)
print("The substraction is :",sub)
print("The multipliction is :",multiple)
print("The division is :",division)

Enter the first number 12
Enter the second number 45

The sum is : 57
The substraction is : 33
The multipliction is : 540
The division is : 0.26666666666666666

In [11]:
# Q2) write code that check if an input number is positive negative or zero and print the msg

a = int(input("enter the number"))
if a > 0:
    print("it is positive number")
elif a < 0:
    print("it is negative number")
else:
    print("the number is zero")

enter the number -1

it is negative number

In [16]:
# Q3) create a list of integers print all values greater than 10 using a for loop using a conditional statement

a = [1,5,16,34,19,5,1,23]
for i in a:
    if i > 10:
        print(i)

16
34
19
23

In [18]:
# Q4) write code to count and print the number of even and odd numbers beteen 1 and 20

counte = 0
counto = 0
for i in range(1,21):
    if i % 2 == 0:
        counte = counte + 1
    else:
        counto = counto + 1
print("number of even are :",counte)
print("number of odd are :",counto)

number of even are : 10
number of odd are : 10

In [20]:
# Q5) given two variables check using identity operators if they refer to the same ojects print the results

a = 10 
b = 10
if a is b:
    print("same object")
else:
    print("not a same object")

same object

In [25]:
# Q6) given a string use a membership operator to check if the letter "a" is present in it. 

a = input("enter the string").lower()
if "a" in a:
    print("a is present in the string")
else:
    print("a is not present in the list")

enter the string ook

a is not present in the list

In [26]:
# Q7) write a for loop to print the multipication table of 7 from 1 to 10

for i in range(1,11):
    print("7 *",i,"=",i * 7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [31]:
# Q8) given a list, write code to print all elements that are divisible by both 2 and 3 

a = [3,1,3,5,2,78,56,3,5,90]
for i in a:
    if i % 2 == 0 and i % 3 == 0:
        print(i)

78
90

In [39]:
# Q9) take a list of numbers as input. Use a for loop to find and print the maximum value in the list 

a = [2,4,5,6,7,8,9,12,15,16]
for i in a:
    if i == max(a):
        print(i)

16

In [41]:
# Q10) write a program that inputs a user age and checks if the person is eligible to vote age >= 18.

age = int(input("enter your age"))
if age >= 18:
    print("you are eligible to vote")
else:
    print("not eligible to vote")

enter your age 1

not eligible to vote

In [5]:
# Q11) use a for loop to calculate and print the factorial of a given number

a = 12
factorial = 1
for i in range(1,13):
    if i == a:
        factorial = factorial * i
        print(factorial)

12

In [7]:
# Q12) given two list write code to find comman elements using membership operator

a = [1,2,3,4,5]
b = [4,5,6,7,8]
c = []
for i in a:
    if i in b:
        c.append(i)
print("common elements:", c)

common elements: [4, 5]

In [14]:
# Q13) write a progarm to input three numbers and print the greatest amoung them using conditional statement

a = int(input("enter the 1st number"))
b = int(input("enter the 2nd number"))
c = int(input("enter the 3rd number"))
if a > b and a > c:
    print(a,"is greater")
elif b > c and b > a:
    print(b,"is greater")
else:
    print(c,"is greater")

enter the 1st number 23
enter the 2nd number 45
enter the 3rd number 23

45 is greater

In [26]:
# Q14) using a for loop print all number between 50 and 60 (inclusive) that are not divisible by 3 

for i in range(50,61):
    if i % 3 != 0:
        print(i)

50
52
53
55
56
58
59

In [27]:
# Q15) given a list of string print only those string whose length is greater than 5

a = ["tushar","php","python","sql","mernstack","cybrom"]
for i in a:
    if len(i) > 5:
        print(i)

tushar
python
mernstack
cybrom

In [ ]:
                                                   # 11-08-2025

In [ ]:
                                                   # 12-08-2025

In [17]:
# nested for loop
for i in range(0,5):
    for j in range(0,5):
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*", end = " ")
    print()

# for i in range(0,6):
#     for j in range(0,6):
#         if j >= i:
#             print("", end = " ")
#         else:
#             print("*", end = " ")
#     print()

*
* *
* * *
* * * *
* * * * *

In [10]:
n = 5
for i in range(0,5):
    for j in range(n-i):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
                                              # 13-08-2025

In [18]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(i+1):
        print("*", end = " ")
    for j in range(i):
        print("*", end = " ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [19]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(2*i+1):
        print("*", end = " ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [29]:
n = 5
for i in range(n):
    for j in range(i):
        print(" ", end = " ")
    for j in range(n-i-1):
        print("*", end = " ")
    for j in range(n-i):
        print("*", end = " ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
                                        # 14-08-2025

In [22]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(2*i+1):
        print("*", end = " ")
    print()
m = 4  
for i in range(m):   
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(2*(m-i)-1):
        print("*", end = " ")  
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [1]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = " ")
    for j in range(2*i+1):
        print(chr(65+j), end = " ")
    print()

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [1]:
# while loop
i = 0
sum = 0
while i < 10:
    sum = sum + i
    i += 1
print(sum)

45

In [ ]:
                                                # 18-08-2025

In [ ]:
# method of string

In [2]:
a = "tushar"
print(a.title())

Tushar

In [3]:
print(ord("A"))

65

In [4]:
print(chr(97))

a

In [5]:
''' Methods 
#upper , lower, title , capitalize'''
a = "welcome you all"
print(a.title())
print(a.upper())
print(a.lower())
print(a.capitalize())

Welcome You All
WELCOME YOU ALL
welcome you all
Welcome you all

In [6]:
s = "123tushar"
print(s.isdigit())
print(s.isalpha())
print(s.isalnum())

False
False
True

In [13]:
# count - return integer value
s = "hii everyone"
print(s.count("i"))

2

In [14]:
a = 12342
print(a.count(2))

AttributeError: 'int' object has no attribute 'count'

In [17]:
a = "1234225"
print(a.count("2"))

3

In [26]:
#replace
s = "welcome to bhopal"
print(s.replace("o","a",2))  
print(s.replace(" ",""))
print(s.replace("welcome","swagatam",1))
print(s)

welcame ta bhopal
welcometobhopal
swagatam to bhopal
welcome to bhopal

In [31]:
#find - .find("substring",[start],[end])

s = "welcome to bhopal"
print(s.find("t"))

8

In [33]:
#index - .index("substring",[start],[end])

s = "welcome to bhopal"
print(s.index("p"))

14

In [35]:
#split()
# .split("seperator",[maxsplit])
# by default seprate - whitespace
#maxsplit()

s = "welcome to the city"
print(s.split())
print(s.split('o'))
print(s.split(" ",2))

['welcome', 'to', 'the', 'city']
['welc', 'me t', ' the city']
['welcome', 'to', 'the city']

In [ ]:
                                                   # 19-08-2025

In [ ]:
a=[1,4,6,78,54,2,35]
max_a = a[0]
for i in a:
    if i > max_a:
        max_a = i
print(max_a)

In [15]:
a = input("enter the numbers").split()
min_a = a[0]
for i in a:
    if i < min_a:
        min_a = i
print(min_a)

enter the numbers 1 45 67 24 95 2

1

In [13]:
a=[1,2,3,4]
count = 0
sum = 0
for i in a:
    count = count + 1
    sum = sum + i
avg = sum/count
print(avg)

2.5

In [ ]:
                                         # 20-08-2025

In [2]:
a = ['abc','xyz','aba','1221']
count = 0
for i in a:
    if len(i) >= 2:
        if i[0] == i[-1]:
            count = count + 1
print(count)

2

In [23]:
a = [3,5,7,2,9]
sort_asc = a[0]
for i in a:
    if i < sort_asc:
        sort_asc = i
        print(sort_asc, end = " ")

3

In [24]:
a = ["red","green","brown","yellow","red","green","yellow"]
b = {}
count_r = 0
count_g = 0
count_b = 0
count_y = 0
for i in a:
    if i == "red":
        count_r = count_r + 1
        b[i] += 1
    elif i == "brown":
        count_b = count_b + 1
        b[i] += 1
    elif i == "yellow":
        count_y = count_y + 1  
        b[i] += 1
    elif i == "green":
        count_g = count_g + 1    
        b[i] += 1
print(b)

KeyError: 'red'

In [25]:
a = ["red","green","brown","yellow","red","green","yellow"]
d = {}
for i in a:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
print(d)

{'red': 2, 'green': 2, 'brown': 1, 'yellow': 2}

In [30]:
# methods of dictionary
'''
get()
keys()
values()
items()
'''

d ={"name":['abc','xyz','pqr'],"subject":["ds","da","java"],"fees":[10000,45000,56000]}

n =d.get("name")
print(n)

print(d.keys())

print(d.values())

print(d.items())

['abc', 'xyz', 'pqr']
dict_keys(['name', 'subject', 'fees'])
dict_values([['abc', 'xyz', 'pqr'], ['ds', 'da', 'java'], [10000, 45000, 56000]])
dict_items([('name', ['abc', 'xyz', 'pqr']), ('subject', ['ds', 'da', 'java']), ('fees', [10000, 45000, 56000])])