In [3]:
print("hiiii")

hiiii

# first

<h1>HELLO</h1>

In [3]:
print("hi.............there")

hi.............there

In [4]:
import keyword
all_keys = keyword.kwlist
print(all_keys)
print(len(all_keys))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [5]:
all_keys = keyword.softkwlist
print(all_keys)
print(len(all_keys))

['_', 'case', 'match', 'type']
4

In [7]:
import string
lower_case = string.ascii_lowercase
print(lower_case)
print(len(lower_case))

abcdefghijklmnopqrstuvwxyz
26

In [10]:
upper_case = string.ascii_uppercase
print(upper_case)
print(len(upper_case))

ABCDEFGHIJKLMNOPQRSTUVWXYZ
26

# identifier

1. do not start with digit(0-9)
2. always start with (a-z) or (A-Z) or (_) underscore
3. Do not use space between character
4. case sensitive

In [1]:
1x = 10
print(1x)

SyntaxError: invalid decimal literal (1182467522.py, line 1)

In [4]:
X = 10
print(X)

10

In [3]:
_x =10
print(_x)

10

In [6]:
_1 =10
print(_1)

10

In [7]:
import keyword
all key = keyword.kwlist
print(all key)

SyntaxError: invalid syntax (2550559621.py, line 2)

In [8]:
import keyword
all_key = keyword.kwlist
print(all_key)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
y = 10
print(Y)

NameError: name 'Y' is not defined

In [11]:
x =10

In [12]:
print(x)

10

In [ ]:
z = 20

In [13]:
print(z)

NameError: name 'z' is not defined

In [ ]:
xyz=10

In [14]:
print(xyz)

NameError: name 'xyz' is not defined

In [15]:
xyz=10

In [16]:
print(xyz)

10

In [17]:
print(Xyz)

NameError: name 'Xyz' is not defined

In [18]:
_1x =10
_xyz_123 =20
print(_1x)
print(_xyz_123)

10
20

In [19]:
x =10
y =10.5
z ='Python'
print(x)
print(y)
print(z)

10
10.5
Python

# literals

constant values that assign to any identifier is called as literals

In [20]:
x = 10
print(type(x))

<class 'int'>

In [21]:
print(id(x))

140732679006936

In [23]:
y = 0.4
print(type(y))
print(id(y))

<class 'float'>
2004443909008

In [24]:
y = 10.0
print(type(y))
print(id(y))

<class 'float'>
2004411772304

In [25]:
x = 10+20j
y = 0+0j
print(type(x))
print(type(y))

<class 'complex'>
<class 'complex'>

In [26]:
z = j
print(type(j))

NameError: name 'j' is not defined

# string

In [1]:
x = 'a'
print(x)
print(type(x))
print(id(x))

a
<class 'str'>
140732713934400

In [2]:
x = "Python"
print(x)
print(type(x))
print(id(x))

Python
<class 'str'>
140732712956528

In [3]:
x = '''Hii everyone'''
print(x)
print(type(x))
print(id(x))

Hii everyone
<class 'str'>
1508381023536

In [4]:
x = ' this 
        is
            python class'
print(x)

SyntaxError: unterminated string literal (detected at line 1) (288648764.py, line 1)

In [5]:
x = " this 
        is
            python class"
print(x)

SyntaxError: unterminated string literal (detected at line 1) (2027365041.py, line 1)

In [6]:
x = ''' this 
        is
            python class '''
print(x)

 this
        is
            python class

In [9]:
x = 'python is "important"  '
print(x)

python is "important"

In [10]:
x = 'python is 'important' lang '
print(x)

SyntaxError: invalid syntax (3508647074.py, line 1)

# list

In [11]:
t =[2,'python',4.6,(2,4,7,3),7]
print(t)
print(type(t))
print(id(t))
print(len(t))

[2, 'python', 4.6, (2, 4, 7, 3), 7]
<class 'list'>
1508440337280
5

In [12]:
t =[2,python,4.6,(2,4,7,3),7]
print(t)

NameError: name 'python' is not defined

# tuple

In [13]:
r = (2,4.5,"php",'java',(3,5,4))
print(r)
print(type(r))
print(len(r))
print(id(r))

(2, 4.5, 'php', 'java', (3, 5, 4))
<class 'tuple'>
5
1508440230304

In [1]:
a = int(input("entr the  num"))

entr the  num 90

In [2]:
print(a)

90

In [3]:
print(type(a))

<class 'int'>

In [7]:
# string input
a = input("enter the name")

enter the name hi

In [9]:
# typecast
a = int(input("enter a num"))

enter a num 5

In [5]:
a = float(input("enter the number"))

enter the number 8

In [6]:
print(a)

8.0

In [10]:
# for character input                                                                  17-07-2025
a = input("enter the charcter")
b = input("enter the next char")
print(a+b)

enter the charcter Tushar
enter the next char Shukla

TusharShukla

In [12]:
# for numerical data
a = input("enter the number")
b = input("enter the next number")
print(a+b)

enter the number 8
enter the next number 9

89

In [13]:
# conversion of string into integer
a = str(30)
print(type(a))

<class 'str'>

In [15]:
b = int(a)
print(a)
print(type(b))

30
<class 'int'>

In [18]:
a = str(40)
b = int(40)
c = float(40)
print(type(a))
print(type(b))
print(type(c))
print(a)
print(b)
print(c)

<class 'str'>
<class 'int'>
<class 'float'>
40
40
40.0

In [19]:
# type casting
d = int(a)
e = float(b)
f = int(c)
print(type(d))
print(type(e))
print(type(f))
print(d)
print(e)
print(f)

<class 'int'>
<class 'float'>
<class 'int'>
40
40.0
40

In [24]:
a = int(input("enter the num"))
b = input("enter your name")
c = float(input("enter the float number"))
e = int(a)
f = int(b)
g = int(c)
sum = e+f+g
print(sum)

enter the num 5
enter your name tushar
enter the float number 6

ValueError: invalid literal for int() with base 10: 'tushar'